PORT=8080
NODE_ENV=development
JWT_SECRET=LlaveJWTUltraSecreta256Bits
AUTH_SERVICE_URL=http://localhost:8085
BOOKING_SERVICE_URL=http://localhost:8090
ADMIN_SERVICE_URL=http://localhost:9000
NOTIFICATIONS_SERVICE_URL=http://localhost:9010
ALLOWED_ORIGINS=http://localhost:5783
