PORT=8090
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:8080
DB_URL=postgresql://postgres:123456@localhost:5432/auth_db
JWT_SECRET=string
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=string;
GOOGLE_CLIENT_SECRET=string
GOOGLE_REDIRECT_URI=string
ADMIN_EMAILS=string